body,
html {
  width: 100%;
  height: 100%;
  .nav_nav {
    width: 1898px;
    position: absolute;
    height: 400px;
    top: 110px;
    background: red;
    display: none;
    z-index: 9;
  }
}
#wrap {
  width: 1898px;
  margin: 0 auto;
  min-height: 110px;

  #header {
    .top {
      width: 100%;
      background: #efefef;
      height: 30px;
      border-bottom: 1px solid #dadada;
      position: relative;
      p {
        line-height: 30px;
        height: 100%;
        position: absolute;
        right: 36px;
        font-size: 17px;
        color: #9d9b9b;
      }
    }
    .nav {
      height: 80px;
      border-bottom: #9d9b9b 1px solid;
      overflow: hidden;
      position: relative;
      .nav_l {
        margin-left: 80px;
        overflow: hidden;
        height: 100%;
        li {
          margin-right: 30px;
          float: left;
          height: 100%;
          a {
            color: #000000;
            font-size: 17px;
            font-weight: 800;
            line-height: 80px;
          }
        }
      }
      #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -75px;
        margin-top: -12px;
        img {
          height: 24px;
          width: 150px;
        }
      }
      .nav_r {
        margin-right: 80px;
        overflow: hidden;
        height: 100%;
        li {
          margin-left: 30px;
          float: left;
          height: 100%;
          a {
            color: #000000;
            font-size: 17px;
            font-weight: 800;
            line-height: 80px;
          }
        }
        #zoom {
          font-size: 25px !important;
        }
      }
    }
  }
  #content {
    width: 1898px;
    min-height: 695px;
    #banner {
      width: 1802px;
      height: 695px;
      margin: 0 auto 80px;
      ul {
        width: 100%;
        height: 100%;
        li {
          position: relative;
          .bt_l {
            position: absolute;
            top: 244px;
            left: 180px;
            h2 {
              font-size: 58px;
              color: #000000;
              margin-bottom: 41px;
              font-family: SamsungSharpSans;
            }
            p {
              font-size: 22px;
              color: #2f0000;
            }
          }
          .more {
            position: absolute;
            left: 178px;
            bottom: 248px;
            font-size: 16px;
            color: #555555;
            text-decoration: underline;
            font-weight: 800;
          }
          .p_now {
            position: absolute;
            width: 178px;
            height: 50px;
            left: 298px;
            bottom: 232px;
            border-radius: 20px;
            border: 1px solid #6a6a6a;
            text-align: center;
            color: #555555;
            line-height: 50px;
            font-weight: 800;
            &:hover {
              color: #efefef;
              background: #787878;
            }
          }
        }
        @for $i from 1 through 5 {
          .item-#{$i} {
            display: block;
            background: url(../img/indeximg/banner#{$i}.jpg) no-repeat center;
            background-size: cover;
            width: 100%;
            height: 100%;
          }
        }
        @for $i from 2 through 5 {
          .item-#{$i} {
            display: none;
          }
        }
      }
    }
    #product {
      width: 100%;
      margin: 0 auto;
      height: 448px;
      padding: 0 18px;
      h2 {
        width: 100%;
        height: 76px;
        line-height: 76px;
        font-size: 38px;
        color: #000000;
        text-align: center;
      }
      ul {
        width: 100%;
        height: 322px;
        overflow: hidden;
        li {
          margin-left: 30px;
          a {
            img {
              width: 580px;
              height: 322px;
            }
          }
        }
      }
    }
  }
}
  #eve {
    width: 1898px;
    height: 1149px;
    margin: 0 auto ;
    position: relative;
    .eve_nav {
      width: 1898px;
      height: 128px;
     text-align: center;
      a {
        color: #949494;
        font-size: 38px;
        line-height: 128px;
        margin-right: 61px;
        &:hover {
          color: #000000;
        }
        &:visited {
          color: #000000;
        }
      }
    }
    .eve_swiper{
      width: 5694px;
      margin: 0 auto;
      overflow: hidden;
      height: 1022px;
      position: absolute;
      left: 0;
      top: 128px;
      .eve_b {
        width: 1898px;
        height: 1022px;
        overflow: hidden;
        padding: 0 18px;
        float: left;
        box-sizing: border-box;
        .eve_b_left {
          background: url(../img/indeximg/eventBanner.jpg) no-repeat center;
          background-size: cover;
          width: 885px;
          height: 955px;
          margin-left: 32px;
        }
        .eve_b_right {
          width: 945px;
          height: 100%;
          ul {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @for $i from 1 through 4 {
              .evef-#{$i} {
                display: block;
                background: url(../img/indeximg/eve#{$i}f.png) no-repeat center;
                background-size: 321px 235px;
                background-color: #f7f7f7;
                background-position: 53px 60px;
                width: 427.5px;
                height: 462px;
                margin-left: 30px;
              }
            }
            li {
              text-align: center;
              margin-bottom: 30px;
              p {
                font-size: 17px;
                color: #000000;
                margin: 339px 0 19px;
                width: 100%;
                text-align: center;
                font-weight: 800;
              }
              span {
                width: 100%;
                font-size: 17px;
                color: #000000;
              }
            }
          }
        }
      }

    }
    
  }
  #search {
    width: 100%;
    height: 260px;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    h2 {
      height: 105px;
      line-height: 105px;
      font-size: 31px;
      font-weight: 800;
    }
    .input {
      overflow: hidden;
      width: 1064px;
      margin: 0 auto;
      border-bottom: 2px solid #000;
      .ipt {
        width: 984px;
        height: 57px;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        padding-left: 37px;
        line-height: 53px;
        color: #6d6363;
        font-size: 17px;
      }
      .sub {
        width: 80px;
        height: 57px;
        border: 0;
        i {
          font-size: 33px;
        }
      }
    }
  }
  #explain {
    height: 112px;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding: 30px 0;
    background: #f7f7f7;
    box-sizing: border-box;
    p {
      height: 100%;
      margin-left: 200px;
      color: #363636;
      font-size: 15px;
      display: inline-block;
    }
  }
  #copyright {
    width: 100%;
    height: 452px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 87px 0 0 80px;
    position: relative;
    .backtotop {
      position: absolute;
      top: 32px;
      right: 79px;
      a{
        font-size: 13px;
        margin-right: 14px;
      }
      &:nth-child(2){
        .bctop{
          font-size: 11px !important;
        }
      }
    }
    .cp_top {
      height: 251px;
      width: 100%;
      overflow: hidden;
      ul {
        float: left;
        h3 {
          font-size: 17px;
          color: #212428;
          margin-bottom: 28px;
        }
        li {
          width: 348px;
          font-size: 17px;
          a {
            font-size: 14px;
            color: #212428;
            margin-bottom: 16px;
          }
        }
      }
    }
    .cp_bottom {
      height: 110px;
    }
  }
  #footer {
    background: #525252;
    height: 75px;
    line-height: 75px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 80px;
    position: relative;
    a {
      font-weight: 800;
      font-size: 15px;
      margin-right: 32px;
      color: #ffffff;
    }
    .share {
      position: absolute;
      top: 0;
      right: 0;
      background: #525252;
      width: 253px;
      height: 75px;
      overflow: hidden;
      p {
        float: left;
        color: #ffffff;
        display: inline-block;
        font-weight: 800;
        height: 75px;
        line-height: 75px;
        font-size: 15px;
        margin-right: 10px;
      }
      a {
        margin-right: 0 !important;
        #wechat {
          font-size: 43px;
          color: #ffffff;
          text-align: center;
          margin-right: 13px;
          float: left;
        }
        #weibo {
          font-size: 43px;
          color: #ffffff;
          float: left;
        }
      }
    }
  }

.nav ul li a:hover {
  background: red;
}
